.logo
{
  margin-left:45%;
  margin-top:-60%;
}
body
{
  background-attachment:fixed;
  margin:0px;
}
input
{
  color:black;
  font-size:25px;
  padding:6px;
  border-radius:8px;
  border-style:none;
}
#one
{
  color:grey;
 
}
.div1
{
 color:grey;
 margin-left:450px;
 margin-top:100px;
 font-size:25px;
 font-weight:bold;
}
input[type=password]
{
  margin-left:38px;
}
input[type=text]
{
  margin-left:20px;
}
button
{
  background-image:linear-gradient(to right,black,#ffffff,#A9A9A9,black);
  padding-left:20px;
  padding-right:20px;
  border-radius:25px;
  font-size:1em;
  margin-left:200px;
  cursor:pointer; 
  box-shadow:10px 10px 10px black;
}
#butt
{
  margin-left:10px;
}
.div2
{
 color:grey;
 margin-left:450px;
 margin-top:100px;
 font-size:25px;
 font-weight:bold;
 margin-top:-700px;
}
a
{
  margin-left:170px;
  color:black;
}
.div3
{
 color:grey;
 margin-left:450px;
 margin-top:100px;
 font-size:25px;
 font-weight:bold;
 margin-top:-700px;
}

